/* Encounter Page */

.encounter-page {
  display: flex;
  flex-direction: column;
  color: #fff;
}
h1 {
  height: 150px;
}
footer, .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}
span {
  font-size: 16px;
}
ul {
  height: 400px;
  overflow: scroll;
  list-style: none;
  font-weight: 100;
  padding-left: 30px;
}
::-webkit-scrollbar, ::-webkit-scrollbar-corner {
   background: transparent;
}
::-webkit-scrollbar-button {
      background-color: #fff;
}
li {
  padding-bottom: 15px;
}
.button {
  width: 800px;
  height: 100px;
  font-size: 25px;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
