<div class="encounter-container">
    <h1>
      Recent Encounters
      <span>See an Alien? Report it!</span>
    </h1>
    <ul class="encounter-list">

      <li *ngFor="let encounter of encounters" >
        <div>
          {{ encounter.date }} -
          <span>{{ encounter.atype }}</span>
        </div>
        <p>{{ encounter.action }}</p>
      </li>

    </ul>
    <div class="footer">
          <a [routerLink]="['/report']"><div class="button">Report Encounter</div></a>
    </div>
</div>
