.site-container {
  height: 100vh;
  background: linear-gradient(90deg, #000, #5b0b03);

}
html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 16px;
}
h1  {
  font-size: 30px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 25px;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1120px;
}
button {
  height: 100px;
  width: 90vw;
  font-size: 30px;
  cursor: pointer;
  margin-top: 100px;
  font-weight: 200;
  background: transparent;
  color: #fff;
  border: 0;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
