<div class="checkin-page">
  <div class="content-container">

    <h1>Register</h1>
    <form (ngSubmit)="onSubmit($event, registerForm)" #registerForm="ngForm">
      <fieldset>
        <div>
          <input ngControl="name" [(ngModel)]="colonist.name" type="text" name="name" placeholder="Name" required>
        </div>
        <div>
          <input ngControl="age" [(ngModel)]="colonist.age" type="number" name="age" placeholder="Age" required>
        </div>

        <div class="custom-select">
          <select ngControl="job" [(ngModel)]="colonist.job_id" required>
            <option class="placeholder" [value]="null">Select Occupation</option>
            <option *ngFor="let job of occupations" [value]="job.id" >{{ job.name }}</option>
          </select>
        </div>

      </fieldset>
      <fieldset>
        <button ng-click="enter($event)" class="check-in" type="submit" name="check-in" [disabled]="!registerForm.form.valid">Check in</button>
      </fieldset>
    </form>

  </div>
</div>
