<div class="component-container">
  <div class="content-container">

    <h1>Register</h1>
    <form class="" action="index.html" method="post">
      <fieldset>
        <input type="text" name="name" placeholder="Name">
        <input type="number" name="age" placeholder="Age">

        <div class="custom-select">
          <select class="">
            <option class="placeholder">Select Occupation</option>
          </select>
          <hr/>
        </div>

      </fieldset>
      <fieldset>
        <a [routerLink]="['/encounters']"><button class="check-in" type="button" name="check-in">Check in</button></a>
      </fieldset>
    </form>

  </div>
</div>
