<div class="register-page">
  <div class="content-container">

    <h1>Register</h1>

    <form (ngSubmit)="onSubmit($event, registerForm)" #registerForm="ngForm" [ngClass]="{'show-validation' : showValidation}" class="register-form">
      <fieldset class="field-input">
        <div>
          <input ngControl="name" [(ngModel)]="colonist.name"  type="text" name="name" placeholder="Name" required>
        </div>
        <div>
          <input ngControl="age" [(ngModel)]="colonist.age" type="number" name="age" placeholder="Age" required>
        </div>


        <div [ngSwitch]='status' class="custom-select">

          <div *ngSwitchWhen="'loading'">
            Loading...
          </div>

          <select ngControl="job" [(ngModel)]="colonist.job_id" *ngSwitchWhen="'done'" [ngClass]="{placeholder: !colonist.job_id}" name="occupations" required>
            <option [value]="NO_OCCUPATION_SELECTED" class="placeholder">Select Occupation</option>
            <option *ngFor="let job of occupations" [value]="job.id" >
              {{ job.name }}
            </option>
          </select>
        </div> <!-- .custom-selecct -->

      </fieldset><!-- .field-input -->

      <fieldset class="field-button">
          <button [disabled]="noOccupation || !registerForm.form.valid" class="check-in">Check in</button>
      </fieldset><!-- .field-button -->

    </form><!-- .register-form -->
  </div><!-- .content-container -->
</div><!-- .register-page -->
