/* Register Page */

.register-page {
  max-width:100vw;
  font-family: sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* Form */

fieldset {
  border: 0;
  display: flex;
}
input, select {
  width: 90vw;
  color: #fff;
  border: 0;
  background: transparent;
  font-size: 16px;
}
input, .custom-select {
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
  line-height: 2;
}
::-webkit-input-placeholder, select option:first-child  {
  color: #0aab7b;
}
input.ng-invalid, select.ng-invalid {
  /*animation: invalid .5s 4;*/
}
select {
  -webkit-appearance: none;
  outline: none;
}

/* Key Frames*/

@keyframes invalid {
    0% {
      box-shadow: 0 0 0 0 #ed4343;
  }

  100% {
      box-shadow: 0 0 0 .5rem rgba(237,67,67,.2);
  }
}
