<div class="blog-page">

  <h1 class="blog-title">4th Rock from the Sun</h1>

  <div [ngSwitch]='status' class="content-container">

    <div *ngSwitchWhen="'loading'" class="loading">
      Loading...
    </div>

    <ul *ngSwitchWhen="'done'">
      <li *ngFor="let blog of blogs">
        <a href="{{ blog.link }}" target="_blank">
          <h1>
            {{ blog.title.rendered }}
          </h1>
        </a>
        <p>
          {{ blog.excerpt.rendered | filterTags }}
        </p>
        <a href="{{ blog.link }}" class="button" target="_blank">Read More</a>
      </li>
    </ul>
    
  </div><!-- ngSwitch -->


</div><!-- .blog-page -->
