.report-container {
  height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  height: 100px;
  span {
    font-size: 16px;
  }
}
h1, .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
fieldset {
  border: 0;
  select {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: none;
    font: 16px Sans-serif;
  }
  .custom-select {
    width: 95%;
    height: 2rem;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
  }
  textarea {
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
    width: 95%;
    height: 200px;
  }
}
::-webkit-input-placeholder, select {
  color: #ed4343;
}
a {
  text-decoration: none;
}
